public/*.js
public/*.css
public/*.woff
public/*.gz
public/*.ttf
public/*.gif
public/*.jpg
public/*.jpeg
public/*.png
public/*.wav
public/*.mp3
node_modules/*
.idea
*.sublime-project
*.sublime-workspace